{% load static %}
<div class="col-4 text-end d-none d-md-block">
  <button class="btn btn-primary" type="button" data-bs-target="#carruselMasVistos" data-bs-slide="prev">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <button class="btn btn-primary" type="button" data-bs-target="#carruselMasVistos" data-bs-slide="next">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
 </div>
 <div class="col-4 text-end d-md-none">	
  <button class="btn btn-primary" type="button" data-bs-target="#carruselMovil" data-bs-slide="prev">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <button class="btn btn-primary" type="button" data-bs-target="#carruselMovil" data-bs-slide="next">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
 </div>
 </div>
<!--Inicio Carousel-->
<div id="carruselMasVistos" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-4">
            <div class="card my-3 h-100" id="2">
              <img src="{% static 'tienda/img/correa-frutilla.png' %}" class="card-image-top" alt="correa-frutilla">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3" style="color: #f3f3f3">Correa Frutilla </h3>
                <p class="card-text" style="color: #f3f3f3">$7.990</p>
                <button type="button" class="btn btn-primary">Agregar al Carro</button>
                <button class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card my-3 h-100" id="7">
              <img src="{% static 'tienda/img/correa-spiderman.png' %}" class="card-image-top" alt="correa-spiderman" style="background-color: #546c1b">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Correa Spiderman </h3>
                <p class="card-text" style="color: #f3f3f3">$12.000</p>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button type="button" class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card my-3 h-100 " id="8">
              <img src="{% static 'tienda/img/correa-avengers.png' %}" class="card-image-top" alt="correa-avengers" style="background-color: #546c1b">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Correa Avengers </h3>
                <p class="card-text" style="color: #f3f3f3">$9.990</p>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-4">
            <div class="card my-3 h-100" id="6">
              <img src="{% static 'tienda/img/bandana-navidad.png' %} " class="card-image-top" alt="bandana-Navidad">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Bandana Navidad </h3>
                <p class="card-text" style="color: #f3f3f3">$3.000</p>
                <button class="btn btn-primary" style="margin-right: .2rem;">Agregar al Carro </class>
                  <button class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card my-3 h-100" id="5">
              <img src="{% static 'tienda/img/bandana-flores.png' %}" class="card-image-top" alt="bandana-flores">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Bandana Flores </h3>
                <p class="card-text" style="color: #f3f3f3">$3.990</p>
                </article>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card my-3 h-100" id="12">
              <img src="{% static 'tienda/img/bandana-marinero.png' %}" class="card-image-top" alt="bandana-marinero">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Bandana Marinero </a>
                </h3>
                <p class="card-text" style="color: #f3f3f3">$3.000</p>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Carousel Lienzo ancho-->

    <!--Inicio Carousel Mobil-->
    <div id="carruselMovil" class="carousel slide d-md-none" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card my-3 h-100" id="2">
              <img src="{% static 'tienda/img/correa-frutilla.png' %}" class="card-image-top" alt="correa-frutilla">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3" style="color: #f3f3f3">Correa Frutilla </h3>
                <p class="card-text" style="color: #f3f3f3">$7.990</p>
                <button type="button" class="btn btn-primary">Agregar al Carro</button>
                <button class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 h-100" id="7">
              <img src="{% static 'tienda/img/correa-spiderman.png' %}" class="card-image-top" alt="correa-spiderman" style="background-color: #546c1b">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Correa Spiderman </h3>
                <p class="card-text" style="color: #f3f3f3">$12.000</p>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button type="button" class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 h-100" id="8">
              <img src="img/correa-avengers.png" class="card-image-top" alt="correa-avengers" style="background-color: #546c1b">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Correa Avengers </h3>
                <p class="card-text" style="color: #f3f3f3">$9.990</p>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button type="button" class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 h-100" id="6">
              <img src="img/bandana-navidad.png" class="card-image-top" alt="bandana-Navidad">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Bandana Navidad </h3>
                <p class="card-text" style="color: #f3f3f3">$3.000</p>
                <button class="btn btn-primary">Agregar al Carro </class>
                  <button type="button" class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 h-100 " id="5">
              <img src="img/bandana-flores.png" class="card-image-top" alt="bandana-flores">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Bandana Flores </h3>
                <p class="card-text" style="color: #f3f3f3">$3.990</p>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button type="button" class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card my-3 h-100" id="12">
              <img src="img/bandana-marinero.png" class="card-image-top" alt="bandana-marinero">
              <div class="card-body" style="background-color: #546c1b">
                <h3 class="card-title" style="color: #f3f3f3">Bandana Marinero </a>
                </h3>
                <p class="card-text" style="color: #f3f3f3">$3.000</p>
                <button class="btn btn-primary">Agregar al Carro</button>
                <button type="button" class="btn btn-secondary">Ver</button>
              </div>
            </div>
          </div>
        </div>
      </div>