{% load static %}

<!--Jumbotron-->
      <div class="p-5 mb-4 mt-3 py-3 bg-dark rounded-3" style="background-image: url( {% static jumbotron_fondo %});
				background-repeat: no-repeat; background-position-x: right; background-position-y: 20%; background-size: 100%;">
        <div class="container py-5">
          <h1 class="display-5 fw-bold text-light">{{ jumbotron_titulo }}</h1>
          <p class="col-md-8 fs-4 text-light">{{ jumbotron_subtitulo }}</p>
         {{ jumbotron_opt|safe}}
        </div>
      </div>
      <!--FIN Jumbotron-->