{% load static %}

<!--Jumbotron-->
      <div class="p-5 mb-4 mt-3 py-3 bg-dark rounded-3" style="background-image: url({% static 'tienda/img/boxer.jpg' %});
				background-repeat: no-repeat; background-position-x: right; background-position-y: 20%; background-size: 100%;">
        <div class="container py-5">
          <h1 class="display-5 fw-bold text-light">Somos TiendaPET</h1>
          <p class="col-md-8 fs-4 text-light">¡Tenemos los mejores productos para tu mascota!</p>
          <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#modalNosotros">Sobre Nosotros</button>
        </div>
      </div>
      <!--FIN Jumbotron-->
