{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TiendaPET</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
    <link rel="icon" href="favicon.png" />
    <style>
      .nav-link.active::after {
            font-family: "FontAwesome";
            content: "\f111"; /* the caret */
            position: relative;
            left: -50%; /* center the caret */
            bottom: -.8rem; /* position under the text */
            font-size: .4rem;
        }</style>
  </head>
  <body class="d-flex flex-column min-vh-100">
  {% include 'components/modals/modalNosotros.html' %}
   {% include 'components/navbar.html' with only=False %}
    <!--inicio container-->
    <div class="container">
      {% if request.user.is_staff is False%}
      <div class="d-flex py-3 align-items-center flex flex-row-reverse" id="indicadorCarrito">
      {% include 'components/cartButton.html' with carrito_numero=cart_cantidad %}
    </div>
      {% endif %}
      {% include 'components/jumbotron.html' %}
      {% include 'components/alert.html' %}
	   <div class="row">
		 <div class="col-8"><h1>Lo más visto</h1></div>
      {% include 'components/carousel.html' %}
    </div>
  </div>

   {% include 'components/footer.html' %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
   <!-- <script src="js/misc.js"></script><script src="js/app.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{% static 'tienda/js/app.js' %}"></script>
  </body>
</html>

