<!--Inicio Modal Cambio de contraseña-->
<div class="modal fade" id="modalChangePass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="changeModalTitle">Cambiar Contraseña</h1>
            </div>
            <div class="modal-body" id="changeModalBody">
                <div class="container" id="modalContainer">
                    <form id="changePassForm">
                        {% csrf_token %}
                        <div class="pb-2">
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña anterior:</label>
                            <input type="password" id="oldpassword" class="form-control" name="oldpassword" required
                                maxlength="255">
                        </div>
                    </div>
                        <div>
                        <div class="mb-1">
                            <label for="password" class="form-label">Contraseña nueva:</label>
                            <input type="password" id="newpassword" class="form-control" name="newpassword" required
                                maxlength="255">
                        </div>
                        <div class="mb-1">
                            <label for="password" class="form-label">Confirmar contraseña:</label>
                            <input type="password" id="checkpassword" class="form-control" name="check" required
                                maxlength="255">
                        </div>
                    </div>
                    </form>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeModal" >Descartar Cambios</button>
                <button type="button" class="btn btn-danger" id="confirmChange">Cambiar Contraseña</button>
            </div>
        </div>
    </div>

</div>