<!--Inicio Modal Donación-->
<div class="modal fade" id="modalDonacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¡Donación realizada!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> <p>¡Muchas gracias por su donación!</p>
        <p>¡En breves momentos un correo electrónico de confirmación llegará a su bandeja!</p> 
        <p>Al hacer click, será redirigido a la paǵina de inicio.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>