      <!--Inicio Modal Nosotros-->
      <div class="modal fade" id="modalNosotros" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Sobre Nosotros</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>TiendaPET es tu tienda de mascotas online de confianza, que no solo ofrece una amplia gama de productos de alta calidad para tu fiel compañero, sino que también contribuye al bienestar de animales necesitados.</p> <p>Cada compra que realizas respalda a la Fundación Patitas, una organización comprometida con la protección y asistencia de mascotas en situaciones de vulnerabilidad.</p>
              <p>Al elegir TiendaPET, no solo cuidas a tu mascota, también estás extendiendo una mano amiga a muchas otras.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>