.box {
      background-color: lightgrey;
      width: 600px;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 10px;
      margin: auto;
    }

    .text-danger {
    display: none;
    }


.imagen-fondo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    
.imagen-fondo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
